@font-face {
  font-family: font-stack-emoji;
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
  src: local(Segoe UI Emoji); /* Windows 8.1+ Edge fix */
  src:
    /* macOS, iOS */
    local(Apple Color Emoji),
    /* Windows 8.1+ */
    local(Segoe UI Emoji),
    /* Linux Firefox */
    local(Twemoji Mozilla),
    local(EmojiOne Mozilla),
    /* Ubuntu Firefox */
    local(Twitter Color Emoji),
    /* Android */
    local(Noto Color Emoji),
    local(Android Emoji),
    /* Linux */
    local(Emoji One Color),
    local(EmojiOne Color),
    local(EmojiSymbols),
    local(Symbola);
}

@font-face {
  font-family: font-stack-condensed;
  src:
    /* macOS, iOS (Safari requires `font-weight: 300`) */
    local(Futura-CondensedMedium),
    /* Android */
    local(sans-serif-condensed),
    local(Roboto Condensed),
    /* Windows 10 (Edge & Firefox require `font-stretch: condensed`) */
    local(Bahnschrift),
    /* Linux */
    local(Ubuntu Condensed),
    local(Liberation Sans Narrow),
    local(Nimbus Sans Narrow),
    local(Nimbus Sans L),
    local(Arial Narrow),
    local(Open Sans Condensed),
    local(DejaVu Sans Condensed),
    /* macOS, iOS */
    local(DIN Condensed),
    /* macOS, iOS (Safari requires `font-stretch: condensed`) */
    local(Futura);
}

@font-face {
  font-family: font-stack-sans-serif;
  src:
    /* MacOS, iOS */
    local('.SFNSText-Light'),                   /* El Capitan */
    local('.HelveticaNeueDeskInterface-Light'), /* Yosemite */
    local('.LucidaGrandeUI'),                   /* Mavericks */
    /* Linux */
    local(Ubuntu),
    local(Oxygen),
    local(Cantarell),
    local(Noto Sans),
    local(DejaVu Sans),
    local(Liberation Sans),
    /* Android */
    local(sans-serif-medium), /* Since 4.0 */
    local(Droid Sans),        /* Until 3.2 */
    /* Windows */
    local(Segoe UI), /* Since Vista */
    local(Tahoma);   /* Until XP */
}

@font-face {
  font-family: font-stack-slab;
  src:
    local(American Typewriter),
    local(Roboto Slab),
    local(Courier New);
}

@font-face {
  font-family: font-stack-monospace;
  src:
    font-stack-emoji,
    local(Menlo),
    local(Monaco),
    local(Consolas),
    local(DejaVu Sans Mono),
    local(Bitstream Vera Sans Mono),
    local(Andalé Mono),
    monospace;
}

:host,
:root {
  --font-stack-condensed:
    /* Emoji Unicode ranges */
    font-stack-emoji,
    /* Windows Chrome */
    Bahnschrift Condensed,
    /* Local OS fonts */
    font-stack-condensed,
    /* In case all else fails */
    sans-serif;

  --font-stack-sans-serif:
    /* Emoji Unicode ranges */
    font-stack-emoji,
    /* CSS Fonts Level 4 generic */
    system-ui,
    /* Safari & Firefox (MacOS 10.11+, iOS 9+) */
    -apple-system-body,
    -apple-system,
    /* Chrome until 55, Opera until 42 (MacOS) */
    BlinkMacSystemFont,
    /* Local OS fonts */
    font-stack-sans-serif,
    /* In case all else fails */
    sans-serif;

  --font-stack-slab:
    font-stack-emoji,
    font-stack-slab,
    monospace;

  --font-stack-monospace:
    font-stack-emoji,
    font-stack-monospace,
    monospace;
}
