@import '/styles/configuration.css';
@import '/styles/fonts.css';
@import '/styles/colours.css';

main {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    max-width: calc(100% - 28px);
  }
  & > h1 {
    font-weight: 300;
    font-stretch: condensed;
    font-family: var(--font-stack-condensed);
    font-size: 32px;
    color: var(--color-foreground);
  }
  & > h2 {
    font-size: 126px;
    margin: 0;
  }
}
