@import '/styles/configuration.css';
@import '/styles/fonts.css';
@import '/styles/colours.css';
@import '/styles/layout/nav-secondary.css';

main {
  max-width: var(--max-width);
  margin: 80px auto;
  padding: 0 14px;
  & > table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    & > thead {
      & > tr {
        & > th {
          font-weight: 300;
          font-stretch: condensed;
          font-family: var(--font-stack-condensed);
          font-size: 24px;
          color: var(--color-background);
          background-color: var(--color-foreground);
          text-align: left;
          padding: 5px 14px;
          width: 50%;
        }
      }
    }
    & > tbody {
      & > tr {
        border-bottom: 1px solid var(--color-foreground);
        & > td {
          font-family: var(--font-stack-sans-serif);
          font-size: 16px;
          padding: 12px 14px;
          &#message,
          &#hint {
            text-align: center;
          }
          &#failure {
            text-align: center;
            & > #description {
              color: var(--color-background-warning);
            }
          }
          & > time {}
          & > a {
            color: var(--color-foreground);
          }
        }
      }
    }
  }
  & > div {
    margin: 80px 20px;
    text-align: center;
    & > p {
      font-family: var(--font-stack-sans-serif);
      font-size: 16px;
      & > #cta {
        background-color: var(--color-background-cta);
        border: 2px solid var(--color-foreground);
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 24px;
        padding: 3px 40px;
        color: var(--color-foreground-cta);
        &:active {
          color: var(--color-background-cta);
          background-color: var(--color-foreground-cta);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  main {
    & > table {
      & > thead {
        display: none;
      }
      & > tbody {
        border-top: 1px solid var(--color-foreground);
        & > tr {
          & > td {
            display: block;
            font-style: italic;
            &:not(:last-child) {
              padding-bottom: 0;
            }
            &:not(:first-child) {
              padding-top: 8px;
            }
            &::before {
              display: block;
            }
          }
          &.result > td {
            &:nth-of-type(1)::before {
              content: 'Domain:';
            }
            &:nth-of-type(2)::before {
              content: 'Modified:';
            }
          }
        }
      }
    }
  }
}
