@import '/styles/configuration.css';
@import '/styles/fonts.css';
@import '/styles/colours.css';

nav {
  border-bottom: 4px solid var(--color-foreground);
  & > [role='menubar'] {
    font-size: 0;
    max-width: var(--max-width);
    margin: 8px auto;
    padding: 0 14px;
    & > a {
      display: inline-block;
      white-space: nowrap;
      padding: 5px 20px;
      color: var(--color-foreground);
      font-weight: 300;
      font-stretch: condensed;
      font-family: var(--font-stack-condensed);
      font-size: 24px;
      &.target {
        color: var(--color-background);
        background-color: var(--color-foreground);
      }
    }
  }
}
main {
  & > article {
    font-size: 0;
    max-width: var(--max-width);
    margin: 80px auto;
    padding: 0 14px;
    & > header {
      & > h1 {
        font-weight: 300;
        font-stretch: condensed;
        font-family: var(--font-stack-condensed);
        font-size: 24px;
        display: inline-block;
        padding: 5px 80px 1px 20px;
        min-width: 280px;
        box-sizing: border-box;
        background-color: var(--color-foreground);
        color: var(--color-background);
        margin: 0;
      }
    }
    & > form {
      border: 4px solid var(--color-foreground);
      padding: 14px;
      & > p {
        font-family: var(--font-stack-sans-serif);
        font-size: 16px;
      }
      & > .data-input {
        width: 100%;
        max-width: 400px;
        margin: 28px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & > label {
          background-color: var(--color-foreground);
          padding: 2px 20px 0 8px;
          font-weight: 300;
          font-stretch: condensed;
          font-family: var(--font-stack-condensed);
          font-size: 16px;
          color: var(--color-background);
        }
        & > input {
          color: var(--color-foreground);
          background-color: var(--color-background);
          border: 2px solid var(--color-foreground);
          padding: 10px 14px;
          font-family: var(--font-stack-sans-serif);
          font-size: 16px;
          margin: 0;
          width: 100%;
          box-sizing: border-box;
          &::placeholder {
            font-style: italic;
          }
        }
      }
      & > .data-field {
        margin: 20px 0;
        max-width: 400px;
        border: 2px solid var(--color-foreground);
        display: flex;
        align-items: stretch;
        min-height: 42px;
        & > label {
          background-color: var(--color-foreground);
          padding: 5px 20px 0 10px;
          min-width: 100px;
          font-weight: 300;
          font-stretch: condensed;
          font-family: var(--font-stack-condensed);
          font-size: 24px;
          color: var(--color-background);
        }
        & > input {
          color: var(--color-foreground);
          background-color: var(--color-background);
          padding: 10px 14px;
          font-family: var(--font-stack-sans-serif);
          font-size: 16px;
          margin: 0;
          width: 100%;
          box-sizing: border-box;
          border: none;
          &::placeholder {
            font-style: italic;
          }
        }
        & > img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          margin: 14px;
        }
      }
      & > .form-submit {
        & > button {
          background-color: var(--color-background-cta);
          border: 2px solid var(--color-foreground);
          font-weight: 300;
          font-stretch: condensed;
          font-family: var(--font-stack-condensed);
          font-size: 24px;
          padding: 3px 40px;
          color: var(--color-foreground-cta);
          text-decoration: underline;
          cursor: pointer;
          &:active {
            color: var(--color-background-cta);
            background-color: var(--color-foreground-cta);
          }
        }
        & > #pending {
          font-family: var(--font-stack-sans-serif);
          font-size: 16px;
        }
        & > #success {
          font-family: var(--font-stack-sans-serif);
          font-size: 16px;
        }
        & > #error {
          font-family: var(--font-stack-sans-serif);
          font-size: 16px;
          & > #message {
            color: var(--color-background-warning);
          }
        }
      }
      &#session {
        & > #problem > #error {
          color: var(--color-background-warning);
        }
        & > .form-submit > button {
          background-color: var(--color-background-warning);
          cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" style="font-size: 24px"><text y="20">⚠️</text></svg>'), auto;
          &:active {
            color: var(--color-background-warning);
            background-color: var(--color-foreground-warning);
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  nav {
    text-align: center;
  }
  main {
    & > article {
      & > form {
        & > .data-field {
          flex-direction: column;
          border: none;
          & > label {
            background-color: transparent;
            color: var(--color-foreground);
            border-top: 2px solid var(--color-foreground);
            display: block;
          }
          & > input {
            display: block;
            padding: 0 10px 10px 10px;
          }
        }
      }
    }
  }
}
